.reasonDiv {
  height: 300px;
  width: 240px;
  border: 2px solid #DADADA;
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
  justify-content: flex-start;
}

.text{
  color: #1A1A1A;
  letter-spacing: -1px;
  display: block;
}

.reasonDiv span {
  color: #666;
  letter-spacing: -1px;
}
